[{ranch,[]},
 {cowlib,[]},
 {xml_builder,[]},
 {mime,[{types,#{}}]},
 {iex,
     [{alive_prompt,<<"%prefix(%node)%counter>">>},
      {default_prompt,<<"%prefix(%counter)>">>},
      {history_size,20},
      {inspect,[{pretty,true}]},
      {colors,[]}]},
 {showoff,
     [{'Elixir.ShowoffWeb.Endpoint',
          [{render_errors,
               [{view,'Elixir.ShowoffWeb.ErrorView'},
                {accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.Showoff.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {live_view,[{signing_salt,<<"growb+Aum3o5waHzehcTZ6MtwxlyL+AN">>}]},
           {load_from_system_env,true},
           {http,[{port,{system,<<"PORT">>}}]},
           {server,true},
           {secret_key_base,
               <<"7buRSr5REhhDiBrytlCkKcW1/bneiQIW92MCXHaOXq5vKasQwGLzsAd5vCq3c3lg">>},
           {url,[{host,<<"showoff.gigalixirapp.com">>},{port,443}]},
           {cache_static_manifest,<<"priv/static/cache_manifest.json">>}]}]},
 {phoenix,
     [{stacktrace_depth,nil},
      {template_engines,[]},
      {format_encoders,[]},
      {filter_parameters,[<<"password">>]},
      {json_library,'Elixir.Jason'},
      {gzippable_exts,
          [<<".js">>,<<".css">>,<<".txt">>,<<".text">>,<<".html">>,
           <<".json">>,<<".svg">>,<<".eot">>,<<".ttf">>]},
      {serve_endpoints,true}]},
 {telemetry,[]},
 {runtime_tools,[]},
 {mix,[{colors,[]}]},
 {artificery,[]},
 {plug_crypto,[]},
 {plug_cowboy,[]},
 {sasl,[{sasl_error_logger,false},{errlog_type,error}]},
 {elixir,
     [{ansi_enabled,false},
      {check_endianness,true},
      {time_zone_database,'Elixir.Calendar.UTCOnlyTimeZoneDatabase'}]},
 {phoenix_live_view,[]},
 {ssl,[]},
 {distillery,[{config_providers,[]}]},
 {stdlib,[]},
 {cowboy,[]},
 {eex,[]},
 {logger,
     [{discard_threshold_periodic_check,30000},
      {backends,[console]},
      {compile_time_purge_level,debug},
      {level,info},
      {discard_threshold,500},
      {discard_threshold_for_error_logger,500},
      {translator_inspect_opts,[]},
      {truncate,8096},
      {compile_time_purge_matching,[]},
      {handle_otp_reports,true},
      {console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]},
      {utc_log,false},
      {compile_time_application,nil},
      {handle_sasl_reports,false},
      {translators,[{'Elixir.Logger.Translator',translate}]},
      {sync_threshold,20}]},
 {gettext,[{default_locale,<<"en">>}]},
 {kernel,
     [{logger_level,notice},
      {logger_sasl_compatible,false},
      {logger,
          [{handler,default,logger_std_h,
               #{config => #{type => standard_io},
                 formatter =>
                     {logger_formatter,
                         #{legacy_header => true,single_line => false}}}}]}]},
 {crypto,[{fips_mode,false},{rand_cache_size,896}]},
 {jason,[]},
 {public_key,[]},
 {phoenix_html,[]},
 {asn1,[]},
 {chunky_svg,[]},
 {plug,[{validate_header_keys_during_test,true}]},
 {compiler,[]},
 {phoenix_pubsub,[]}].
